* {
    margin: 0;
    padding: 0;
}


/* Colors */


/* fonts variable */

@font-face {
    font-family: "Oswald-Bold";
    src: url(../fonts/Oswald-Bold.ttf);
}

@font-face {
    font-family: "PT-Sans-Bold";
    src: url(../fonts/PT_Sans-Web-Bold.ttf);
}

@font-face {
    font-family: "PT-Sans-Regular";
    src: url(../fonts/PT_Sans-Web-Regular.ttf);
}

@font-face {
    font-family: "PT-Sans-Italic";
    src: url(../fonts/PT_Sans-Web-Italic.ttf);
}